/* Archivo styles.css */

body {
    background-color: black; /* Fondo negro */
    color: white; /* Letras blancas */
    font-family: 'Impact', sans-serif; /* Fuente "IMPACT" */
  }
  
  .bienvenidos {
    text-align: center; /* Centramos el texto */
    margin-top: 20px;
    font-size: 48px; /* Tamaño de la fuente */
  }
  